body {
	margin:0; 
	padding:0;
}
header {
	background-color: #003333;
	height: 200px;
}

h1 {
	font-size: 80px;
	color: white;
	margin: 0;
	padding-top: 50px;
}

h2 {
	font-size: 60px;
	color: #033; 
}

#content {
	width: 90%;
	margin: auto;
}
.wrapper {
	width: 90%;
	margin: auto;
}

span {
	color: blue;
}
#menu{ 
	margin-top: -10px;
	float:right; 
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
	
nav ul {
	list-style: none;
	position: relative;
	display: table;
	
}
	nav ul:after {
		content: ""; clear: both; display: block;
		
	}
	
nav ul li {
	float: left;
}
	
.top a:hover {
	color: #000000;
}
	
	nav ul li a {
		display: block; padding: 10px 10px;
		color: white; text-decoration: none;
		font-family:Helvetica, sans-serif;
		text-align:center;
	}

.billeder {
	margin: 20px;
}



		